---
---

body {
  height: 100vh;
  background-color: #D9D6D2;
  color: #736B65;
  font-family: "Space Mono", monospace;
  font-variant: small-caps;
  text-align: center;
  text-transform: lowercase;
  text-rendering: optimizeLegibility;
  margin: 0;
  overflow: hidden;
}

a {
  color: #E34234;
}

#guide {
  width: 100%;
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%,50%);
}

#colophon {
  width: 100%;
  position: absolute;
  bottom: 12px;
}
