---
---

body {
  background-color: #D9D6D2;
  color: #736B65;
  margin: 0;
}

a {
  color: #E34234;
}

#guide {
  width: 100%;
  font-family: "Space Mono", monospace;
  font-variant: small-caps;
  text-align: center;
  text-transform: lowercase;
  text-rendering: optimizeLegibility;
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%,50%);
}
