/* http://revolutionnaire.github.io/
   v0.1 | 20190114
   License: none (public domain)
*/

body {
  margin: 0;
}

#guide {
  color: rgb(64,61,82);
  font-family: "Space Mono", monospace;
  font-variant: small-caps;
  text-transform: lowercase;
  text-rendering: optimizeLegibility;
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%,50%);
}
