/* http://revolutionnaire.github.io/
   v0.1 | 20190114
   License: none (public domain)
*/

body {
<<<<<<< HEAD
=======
  background-color: #0D0D0D;
>>>>>>> 2a1ac57 (Update colors)
  color: #D9D6D2;
  margin: 0;
}

#guide {
  font-family: "Space Mono", monospace;
  font-variant: small-caps;
  text-transform: lowercase;
  text-rendering: optimizeLegibility;
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%,50%);
}
